/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  background-color: slategrey;
  width: 100%;
  height: 40%;
  justify-content: center;
  display: flex;
}
.bmi_png {
  width: 117px;
  height: 117px;
  justify-content: center;
  margin-right: 81px;
  margin-left: 103px;
  margin-top: 92px;
  margin-bottom: 91px;
}

.height_input {
  width: 250px;
  height: 40px;
  border: 3px solid #ffd366;
  border-radius: 10px;
  margin-bottom: 20px;
  outline: none;
}
.height_label {
  width: 66px;
  height: 18px;
  color: #ffd366;
  margin-top: 74px;
}
.weight_input {
  width: 250px;
  height: 40px;
  border: 3px solid #ffd366;
  border-radius: 10px;
  outline: none;
}
.weight_label {
  width: 66px;
  height: 18px;
  color: #ffd366;
}
.input {
  display: flex;
  flex-direction: column;
}
.result {
  border-radius: 50%;
  text-align: center;
  display: flex;
  margin-left: 50px;
  position: relative;
}
.result_btn {
  border-radius: 50%;
  background-color: #ffd366;
  width: 120px;
  height: 120px;
  margin-top: 92px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.result_btn:hover {
  color: white;
  background-color: #f77f39;
  cursor: pointer;
}

.footer {
  background-color: #ffd366;
  width: 100%;
  height: 90px;
}
.BMICLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 18px;
}
h2 {
  display: flex;
  justify-content: center;
  padding-top: 48px;
  margin-bottom: 36px;
  color: #424242;
  font-size: 24px;
  font-weight: bold;
}

.advice {
  font-size: 24px;
}
.result_pic {
  display: none;
  margin-top: 92px;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border: 3px solid green;
  border-radius: 50%;
  position: relative;
}
.result_pic:hover {
  cursor: pointer;
}
.ball img {
  border: 5px solid red;
  background: green;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.advice {
  display: flex;
  flex-direction: column;
  color: rgb(81, 247, 81);
  font-weight: bold;
  font-size: 30px;
}
.r_Advice {
  position: absolute;
  right: -100px;
  top: 35%;
  width: 100px;
  height: 50px;
  font-size: 35px;
  font-weight: bolder;
  color: green;
  display: block;
}
.list {
  /*display: none;*/
  justify-content: space-between;
  /*border-left: 5px solid greenyellow;*/
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
position: relative;
  margin-left: 200px;
  margin-right: 200px;
  background: white;
}
.list li {
  padding: 25px 25px 25px 25px;
  /*margin:10px 10px 10px 0px;*/
}
.content {
  background: rgb(216, 214, 214);
  padding-bottom: 50px;
  display: block;
}
.leftColor{
    background: #000;
    position: absolute;
    height: 100%;
    width: 10px;
    left: 0px;    
    top:0px;
}
.del{
    position: absolute;
    border-radius: 5px;
    left: -50px;
    top: 0px;
    width: 40px;  
    height: 40px;
    background: rgb(214, 212, 221);
    border: 3px solid black;
    padding-top: 20px;
    cursor: pointer;
}